<% const {id, name, email, phone, status, marketing} = lead %>
<tr class="lead">
  <td><%= name %></td>
  <td><%= phone %></td>
  <td><%= email %></td>
  <td><%= status %></td>
  <td><%= marketing.source %></td>
  <td><%= marketing.ad %></td>
  <td>
    <a href="/app/leads/<%= id %>" class="btn">open</a>
  </td>
</tr>